/* LP-9 Governance Section Styles */

.lp-9-section {
  width: 100%;
  min-height: 734px;
  display: flex;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 64px 0;
}

.lp-9-container {
  max-width: 1280px;
  width: 100%;
  padding: 0 162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}

/* Left Content */
.lp-9-content {
  width: 432px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.lp-9-heading {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.6px;
  color: #050505;
  margin: 0;
}

.lp-9-description {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #767676;
  margin: 0;
  margin-top: 12px;
}

.lp-9-circle-container {
  width: 500px;
  height: 450px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-9-governance-circle-group {
  position: relative;
  left: 10%;
  width: 450px;
  height: 450px;
}

/* Outer Governance Circle Image */
.lp-9-outer-circle-image {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  object-fit: contain;
  /* animation: rotate-lp9-outer 40s linear infinite; */
}

@keyframes rotate-lp9-outer {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Radiant Glow */
.lp-9-radiant-glow {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 285px;
  height: 285px;
  background: url('/assets/RadiantGlow.png') center/contain no-repeat;
  animation: lp9-rotate-glow 20s linear infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes lp9-rotate-glow {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Core Circle */
.lp-9-core-circle {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  z-index: 2;
}

.lp-9-core-bg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Center Governance Icon */
.lp-9-center-icon {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-9-governance-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Responsive Design */
@media (min-width: 1280px) and (max-width: 1440px) {
  .lp-9-section {
    margin-left: 0px;
  }
  .lp-9-container {

    margin-left: 180px;
    padding: 0 120px;
    gap: 70px;
  }

  .lp-9-content {
    width: 400px;
    gap: 40px;
  }

  .lp-9-heading {
    font-size: 36px;
    line-height: 44px;
  }

  .lp-9-circle-container { 
    /* background-color: black;  */
    /* margin-right: 40px;    */
    width: 500px; 
    height: 450px;
  }
  .lp-9-governance-circle-group {
    width: 500px;
    height: 450px;
  }
  
  .lp-9-radiant-glow {
    width: 310px;
    height: 310px;
  }
  
  .lp-9-core-circle {
    width: 240px;
    height: 240px;
  }
  
  .lp-9-center-icon {
    width: 78px;
    height: 78px;
  }

  /* .lp-9-governance-circle-group {
    transform:  scale(1.3);
  } */
}

@media (max-width: 1024px) {
  .lp-9-section {
    margin-left: 0px;
  }
  .lp-9-container {
    padding: 0 80px;
    gap: 50px;
    flex-direction: column;
  }

  .lp-9-content {
    width: 100%;
    max-width: 500px;
    align-items: center;
    text-align: center;
  }

  .lp-9-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .lp-9-description {
    font-size: 15px;
    line-height: 23px;
  }

  .lp-9-circle-container {
    width: 100%;
    margin-left: -90px;
    max-width: 460px;
    height: 420px;
    transform: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .lp-9-section {
    margin-left: 0px;
    padding: 60px 0;
  }

  .lp-9-container {
    padding: 0 40px;
    gap: 130px;
  }

  .lp-9-heading {
    font-size: 28px;
    line-height: 36px;
  }

  .lp-9-description {
    color: var(--Gray-Dark, #767676);
    text-align: center;
    font-family: inter, sans-serif;
    font-size: 14px;
    line-height: 21px;
  }

  .lp-9-circle-container {
    width: 100%;
    max-width: 480px; /* increased width for larger visual */
    margin: 0 auto; /* center horizontally */
    height: 420px; /* slightly taller */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    overflow: visible;
  }

  .lp-9-governance-circle-group {
    justify-content: center;
    align-items: center;
    /* background-color:black; */
    width: 580px;
    height: 580px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.2);
  }

  /* Increase image and core sizes at this breakpoint */
  .lp-9-outer-circle-image {
    justify-content: center;
    align-items: center;
    /* background-color:white; */
    max-width: 580px;
    max-height: 580px;
  }

  .lp-9-core-circle {
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 290px;
    height: 290px;
  }

  .lp-9-radeint-glow {
    left: 95px;
    top: 95px;
    width: 290px;
    height: 290px;
  }

  .lp-9-core-circle::before {
    width: 340px;
    height: 340px;
  }

  .lp-9-center-icon {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .lp-9-section {
    padding-top: 0px;
    margin-left: 0px;
  }

  .lp-9-container {
    max-width: 1280px;
  margin: 0 auto;
  padding: 100px 16px 72px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  min-height: calc(90vh - 64px);
  }


  .lp-9-heading {
    align-self: stretch;
    color: var(--Base-Black, #050505);
    text-align: center;
    font-family: inter,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 125% */
    letter-spacing: -0.8px;
  }

  .lp-9-description {
    margin-top: -5px;
    color: var(--Gray-Dark, #767676);
    text-align: center;
    font-family: inter,sans-serif;
    align-self: stretch;
    font-size: 16px;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .lp-9-content {
    display: flex;
    width: 100%;
    max-width: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .lp-9-circle-container {
    /* background-color: black; */
    width: 500px;
    height: 350px;
  }
  
  .lp-9-governance-circle-group {
     left: 0%;
    width: 500px;
    height: 360px;
  }
  
  .lp-9-radiant-glow {
    width: 260px;
    height: 260px;
  }
  
  .lp-9-core-circle {
    width: 200px;
    height: 200px;
  }
  
  .lp-9-center-icon {
    width: 50px;
    height: 50px;
  }

  /* .lp-9-governance-circle-group {
    
    transform:  scale(1.5);
  } */
}
